version: "3.8"

services:
  api:
    build: .
    container_name: node_api
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo_db
    restart: unless-stopped

  mongo_db:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
